svg {
    display: grid;
    grid-area: graph;
    stroke: rgb(255 241 241 / 99%);
    stroke-width: 0.5;
}

.axis text {
    font: 10px Verdana;
    fill: #faf8f8;
}

.axis line {
    fill: none;
    stroke: steelblue;
}

#sector, polygon#triangle, rect#rect {
    fill: #64c2ed9c;
    stroke: none;
}
