body{
    background: #272727;
    margin: 0;
}
#clock{
    color: #cdcaca;
    text-align: center;
    font-size: 200px;
    font-family: 'Alexandria', sans-serif;
}
header{
    display: flow-root;
    box-shadow: 0 7px 9px 0 rgb(0 0 0 / 19%);

}
h1{
    color: #b3c2f59c;
    margin: 10px 10px 6px 20px;

}
#option{
    font-size: 15px;
    margin-top: -5px;
    margin-bottom: 10px;
}
#main_url{
    display: block;
    width: 115px;
    height: 46px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 25px;
    padding: 10px 10px 10px 10px;
    position: relative;
    left: calc(50% - 115px/2);
    text-decoration: none;
    color: wheat;
    font-size: 20px;
}

.fog {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
    /*background: url("background.jpg") center center;*/
    background-size: cover;
    background-image: url("images/fog.png");
}