
.normal{

}
r.ui-state-error,x.ui-state-error, y.ui-state-error{
    background-color: rgb(255 206 206 / 82%);
    border-color: #c52f2f;
    outline-color: rgb(243 127 127 / 82%);
}
r.ui-state-error:focus, x.ui-state-error:focus, y.ui-state-error:focus{
    box-shadow: 0 0 0 4px rgba(218, 163, 163, 0.82);
}
.error-label{
color: rgb(234 86 86);
}
.dot, .error_dot{
    fill: limegreen;
    stroke: limegreen;
}
.error_dot{
    fill: red;
    stroke: red;
}
